.work{
    width: 300px;
    height: 550px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.work img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.work-info{
    margin: 0 14px;
}
.work-time{
    margin-bottom: 0;
    margin-top: 10px;
}

.work-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700px;
    font-size: 18px;
    line-height: 25px;
    margin-top: 7px;
}
.work-about{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        line-height: 25px;
}

.btn-cart{
    width: 100%;
    background-color: #5D5FEF;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}